@font-face {
    font-family: norseBold;
    src: url("Norse-Bold.otf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 30vw;
    height: 100vh;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.topL {
    display: flex;
    width: 100%;
    height: 35vh;
}

.topL div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.6);
    align-self: flex-end;
    
}

.topL img {
    align-self: center;
    height: 80%;
}

.topL h1 {
    align-self: center;
    text-align: center;
    color: white;
    font-family: norseBold;
    font-size: 10vh;
}

.botL {
    display: flex;
    width: 100%;
    height: 65vh;
}

.botL a {
    color: white;
}

.botL p {
    opacity: 0.8;
    width: 100%;
    margin: 10px;
    color: white;
    font-size: 0.7rem;
    align-self: flex-end;
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 70vw;
    height: 100vh;
    background-color: white;
}

.top {
    width: 100%;
    height: 35vh;
    background-color: rgb(248, 248, 250);
}

.mid {
    width: 100%;
    height: 30vh;
}

.bot {
    width: 100%;
    height: 35vh;
    background-color: rgb(248, 248, 250);
}